---
layout: base
---

<div class="home">
  <h1 class="page-heading">分類：{{ page.category }}</h1>

  {% assign count = 0 %}
  <ul class="post-list">
    {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
    {% for post in site.posts %}
      {% if post.categories contains page.category %}
        {% assign count = count | plus: 1 %}
        <li>
          <span class="post-meta">{{ post.date | date: date_format }}
          {% for category in post.categories %}
            <a class="post-category" href="/chengwulongxia-rgb/categories/{{ category }}">{{ category }}</a>
          {% endfor %}
          </span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  {% if count == 0 %}
    <p>尚無文章。</p>
  {% else %}
    <p>{{ count }} 篇文章</p>
  {% endif %}
</div>
