---
layout: base
pagination:
  enabled: true
---

<div class="home-layout">
  <div class="home-main">
    {%- if page.title -%}
      <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}

    {%- assign post_list = paginator.posts | default: site.posts -%}

    {%- if post_list.size > 0 -%}
      {%- if page.list_title -%}
        <h2 class="post-list-heading">{{ page.list_title }}</h2>
      {%- endif -%}
      <ul class="post-list">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {%- for post in post_list -%}
          {%- unless post.categories contains "archive" -%}
          <li>
            <span class="post-meta">{{ post.date | date: date_format }}
            {% for category in post.categories %}
              <a class="post-category" href="{{ '/categories/' | append: category | append: '/' | relative_url }}">{{ category }}</a>
            {% endfor %}
            </span>
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>
            {%- if site.minima.show_excerpts -%}
              {{ post.excerpt }}
            {%- endif -%}
          </li>
          {%- endunless -%}
        {%- endfor -%}
      </ul>

      {% include pagination.html %}
    {%- endif -%}
  </div>

  {% include sidebar.html %}
</div>
